@if(weatherData) {
  <div class="container">
    <div class="upper-data">
      @switch(getWeatherState()) {
        @case('warm') {
          <img src="assets/sun.jpg" alt="Sun Card Image" />
        }
        @case('cold') {
          <img src="assets/cold1.jpg" alt="Cold1 Card Image" />
        }
        @default {
          <img src="assets/raining.jpg" alt="Raining Card Image" />
        }
      }

      <div class="weather-data">
        <div class="location">{{ weatherData.name }}</div>
        <div class="temperature">
          {{ weatherData.main.temp | number: "1.0-0" }}ºC
        </div>
      </div>
    </div>

    <div class="lower-data">
      <div class="more-info-label">Mais informações</div>
      <div class="more-info-container">

        <div class="info-block">
          <div class="info-block-label">
            <fa-icon [size]="'lg'" [icon]="minTemperatureIcon" />
            <span>Mínima</span>
          </div>

          <div class="info-block-value">
            {{ weatherData.main.temp_min | number: "1.0-0" }} ºC
          </div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <fa-icon [size]="'lg'" [icon]="maxTemperatureIcon" />
            <span>Máxima</span>
          </div>

          <div class="info-block-value">
            {{ weatherData.main.temp_max | number: "1.0-0" }} ºC
          </div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <fa-icon [size]="'lg'" [icon]="humidityIcon" />
            <span>Umidade</span>
          </div>

          <div class="info-block-value">
            {{ weatherData.main.humidity }}%
          </div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <fa-icon [size]="'lg'" [icon]="windIcon" />
            <span>Vento</span>
          </div>

          <div class="info-block-value">
            {{ weatherData.wind.speed }}%
          </div>
        </div>

      </div>
    </div>

  </div>
} @else {
  <p>There's no results.</p>
}
